@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p0dpfj');
  src:  url('fonts/icomoon.eot?p0dpfj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p0dpfj') format('truetype'),
    url('fonts/icomoon.woff?p0dpfj') format('woff'),
    url('fonts/icomoon.svg?p0dpfj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-iconmonstr-phone-1:before {
  content: "\e900";
}
.icon-iconmonstr-safe-3:before {
  content: "\e901";
}
.icon-iconmonstr-television-12:before {
  content: "\e902";
}
