html{
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-x: hidden;
	/*overflow-y: scroll;*/

}
*{
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Acme', sans-serif;
}

h2 {
	font-family: 'Lobster', cursive;
}
header{
	position: absolute;
    z-index: 1;
    width: 100%;
}
header nav{
	text-align: center;
    background: rgba(68, 48, 42, 0.84);
}
header nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li{
	display: inline-block;    
    color: #fff;
    
}
header nav ul li a{
	color: #fff;
	font-size: 150%;
	text-decoration: none;	
	display: inline-block;
	padding: 16px;
}
header nav ul li.active{
	background: #957a6f;
}

form fieldset{
	border: none;    
}
form.form-inline fieldset{
	display: inline-block;
}
form.form-inline label{
	display: block;
}

button{
	border: none;
    padding: 10px 15px;
    font-size: 14px;   
    border-radius: 5px;
    min-width: 90px;
    cursor: pointer;
    background: #CCCCCC;
    color: #000000;
}

input{
	border: 1px solid #ccc;
    padding: 5px;
}

.form-section form button {
	color: #fff;
    background: #5d1f0b;
}
.form-section{
	background: rgba(144, 83, 83, 0.94);
	margin-top: 30px;
}

.form-section label{
	color: #FFFFFF;
}



.main-parallax h1 {	
	font-family: 'Acme', sans-serif;
    font-size: 600%;
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 7px 5px 10px rgb(76, 63, 53);
    font-weight: 400;
}

.main-parallax h2 {
	font-family: 'Lobster', cursive;
	font-size: 400%;
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 8px #4c3f35;
    font-weight: 400;
}

.main-parallax .slide{
	position: relative;
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;

}

.main-parallax .slide {
	background-attachment: fixed; 
   	background-repeat: no-repeat;
   	background-size: 100%;
}

#home {
	padding: 25% 10%;
	background-image: url("../img/bg1.jpg");   	
}
#habitaciones {
	background-image: url("../img/bg2.jpg"); 
}
#restaurant {
	background-image: url("../img/bg1.jpg");
}
#nosotros {
	background-image: url("../img/bg2.jpg");
}
#contactanos {
	background-image: url("../img/bg1.jpg");
}
