html{
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-x: hidden;
	/*overflow-y: scroll;*/

}
*{
	font-family: 'Roboto', sans-serif;
	color: #2D2D2D;
}
.main-content p, .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5{
	color: #FFFFFF;
}
.list-items p, .list-items h1, .list-items h2, .list-items h3, .list-items h4, .list-items h5{
	color: #2D2D2D;
}

header{
	position: absolute;
    z-index: 1;
    width: 100%;
}
header nav{
	text-align: center;
    background: rgba(45, 45, 45, 1);
}
header nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
header nav ul li{
	display: inline-block;    
    color: #fff;
    
}
header nav ul li a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;	
	display: inline-block;
	padding: 16px;
}
header nav ul li.active, header nav ul li.active:hover{
	/*background: #d01749;*/
	background: rgba(159, 188, 215, 1);
}
header nav ul li:hover{
	background: #6c6f71;
}

footer{
	background: rgba(45, 45, 45, 1);
	padding: 10px;
	min-height: 40px;
	color: #FFFFFF;
	line-height: 40px;
    border-top: 3px #4a4444 solid;
    color: #FFFFFF;
}
footer p{
	margin: 0;
	text-align: center;
	color: #FFFFFF;
}

form fieldset{
	border: none;
	padding: 0;
    margin: 0;  
}
figure{
	margin: 0;
}
.separator{
	border-top: 1px solid rgba(159,188,215,1);
	margin: 10px 0;
}

form.form-inline{
	padding: 10px;
	display: inline-block;
	background: rgba(159, 188, 215, 1); 
}
form.form-inline fieldset{
	display: inline-block;
	margin: 0 7px 0 0;
}
form.form-inline label{
	display: block;
	text-align: left;
	font-size: 12px;
    margin-bottom: 5px;
}

button, a.button{
	border: none;
    padding: 10px 15px;
    font-size: 14px;   
    border-radius: 0;
    min-width: 90px;
    cursor: pointer;
    background: #CCCCCC;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}

input, textarea, select{
	border: 1px solid #ccc;
    padding: 5px;
}
.tooltip-item{
	position: relative;
}
.tooltip{
	display: inline-block;
    padding: 7px;
    background: #2D2D2D;
    font-size: 10px;
    color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    bottom: 100%;
    text-align: center;
    left: 0;
    margin-bottom: 10px;
}
.tooltip:before{
	content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 7px;
    border-left: 7px solid transparent;
    border-top: 7px solid #2d2d2d;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.tooltip-item .tooltip {
	display: none;
}

.tooltip-item:hover .tooltip{
	display: inline-block;
}

.center-align{
	text-align: center;
}

.form-section form button {
	color: #fff;
    background: #2b2b2b;
}
.form-section{	
	margin-top: 30px;
    text-align: center;
}

.form-section label{
	color: #FFFFFF;
}


.button-link{
	text-decoration: none;
	border: 3px solid #FFFFFF;
	background: rgba(0,0,0,0);
	padding: 10px;
    color: #FFFFFF;
    display: inline-block;
    min-width: 80px;
    cursor: pointer;
}
.button-link:hover{
	background: rgba(159,188,215,1);
	/*color: #000;*/
}

.main-parallax h1 {	
	font-family: 'Acme', sans-serif;
    font-size: 600%;
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 7px 5px 10px rgb(76, 63, 53);
    font-weight: 400;
}

.main-parallax h2 {
	font-family: 'Lobster', cursive;
	font-size: 400%;
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 8px #4c3f35;
    font-weight: 400;
}



.main-parallax .slide{
	position: relative;
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;

}

.main-parallax .slide {
	background-attachment: fixed; 
   	background-repeat: no-repeat;
   	background-size: 100%;
}

.main-content{

}

.main-content.center{
	width: 65%;
	margin: 0 auto;
	max-width: 860px;
}
.main-content .title{
	font-size: 25px;
	text-transform: uppercase;
}

.list-items{

}
.list-items .item{
	font-size: 0;
	padding: 15px 0;
}
.list-items .item figure{
	display: inline-block;
	width: 30%;
	margin: 0;
	vertical-align: top;
}

.list-items .item figure img{
	width: 100%;
}

.list-items .item .content{
	display: inline-block;
	width: 50%;
	font-size: 14px;
	vertical-align: top;
	padding: 0 15px;
    box-sizing: border-box;
}

.list-items .item .content .title{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
}

.list-items .item .button-section{
	width: 20%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
}

.list-items .item .button-section span{
	display: block;
	text-transform: uppercase;
}

.list-items .item .button-section span.price{
	font-size: 40px;
}

.list-items .item .button-section button, 
.list-items .item .button-section .button{
	padding: 10px;
	border-radius: 0;
	background: rgba(159,188,215,1);
}

.legend [class^="icon-"]{
	font-size: 24px;
    color: #9c9c9c;
    margin-right: 5px;
    display: inline-block;
}
.legend span:last-child{
	margin-right: 0;
}

.back-arrow{
	display: inline-block;
    text-decoration: none;
    color: #2578cc;
    font-size: 30px;
    position: absolute;
    right: 100%;
    top: 25px;
}

/* Home */
#home {
	padding: 15% 10%;
	background-image: url("../img/bg1.jpg");   	
}
#habitaciones {
	padding: 25% 10%;
	background-image: url("../img/bg2.jpg"); 
}
#restaurant {
	padding: 25% 10%;
	background-image: url("../img/bg3.jpg");
}
#nosotros {
	padding: 25% 10%;
	background-image: url("../img/bg4.jpg");
}
#contactanos {
	padding: 25% 10%;
	background-image: url("../img/bg5.jpg");
}

#section-nosotros .main-parallax .title, 
#section-contactanos .main-parallax .title, 
#section-habitacion .main-parallax .title,
#section-restaurant .main-parallax .title,
#section-habitacion-detalle .main-parallax .title
{
	color: #2D2D2D;
	text-shadow: none;
}

/* Habitacion */

#section-habitacion .main-parallax .slide{
	padding: 12% 10%;
	background-image: url("../img/bg6.jpg");
	height: 40vh;
    min-height: 40vh;
}
#section-habitacion .main-content{
	margin-bottom: 50px;
}
#section-habitacion .main-content .title{
	color: #2D2D2D;
}
#section-habitacion form.form-inline{
	background: none;
    padding: 0;
    font-size: 0;
    width: 100%;
    margin: 10px 0;
}
#section-habitacion form.form-inline fieldset{
	margin: 0;
	width: 21%;
}
#section-habitacion form.form-inline input{
	padding: 7px;
    background: #000;
    color: #fff;
    font-size: 14px;
    min-height: 22px;
    width: 100%;    
}
#section-habitacion form.form-inline button{
	width: 16%;
	background: rgba(159,188,215,1);
}

/* Habitacion detalle */

#section-habitacion-detalle .main-parallax .slide{
	padding: 12% 10%;
	background-image: url("../img/bg6.jpg");
	height: 40vh;
    min-height: 40vh;
}
#section-habitacion-detalle .main-content{
	margin-bottom: 50px;
	color: #2D2D2D;
	padding: 10px;
	min-width: 860px;

	position: relative;
}
#section-habitacion-detalle .main-content article{
	width: 560px;
}
#section-habitacion-detalle .main-content article figure img{
	width: 100%;
}
#section-habitacion-detalle .main-content .title,
#section-habitacion-detalle .main-content p{
	color: #2D2D2D;
}

#section-habitacion-detalle .main-content table{
	border-collapse: collapse;
}

#section-habitacion-detalle .main-content table td{
	border-bottom: 1px solid #456;
	padding: 20px 10px;
}
#section-habitacion-detalle .main-content table td.label{
	font-weight: bold;
}
#section-habitacion-detalle .main-content table ul{
	list-style-type: none;
    padding: 0;
    margin: 0;
}
#section-habitacion-detalle .main-content .legend {
	list-style-type: none;
    padding: 0;
    margin: 0;
}
#section-habitacion-detalle .main-content .legend li{
	margin-bottom: 7px;
}

#section-habitacion-detalle .main-content .legend [class^="icon-"]{
	margin-right: 10px;
}

#section-habitacion-detalle .main-content .form-float{
	width: 230px;
    background: #000;
    padding: 20px;
    color: #575757;

    position: absolute;
    top: 80px;
    right: 10px;
}
#section-habitacion-detalle .main-content .form-float .caption{
	margin-bottom: 20px;
	padding-left: 15px;
    border-left: 1px solid #9fbcd7;
}
#section-habitacion-detalle .main-content .form-float .caption p{
	margin: 5px;
	color: #575757;
}
#section-habitacion-detalle .main-content .form-float .caption p:nth-child(2n){
	font-size: 30px;
}

#section-habitacion-detalle .main-content .form-float fieldset{
	border: 1px solid rgba(159,188,215,1);
	border-bottom: none;
}

#section-habitacion-detalle .main-content .form-float fieldset:last-of-type{
	border-bottom: 1px solid rgba(159,188,215,1);
}

#section-habitacion-detalle .main-content .form-float input{
	padding: 7px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

#section-habitacion-detalle .main-content .form-float button{
	background: rgba(159,188,215,1);
    width: 100%;
    margin-top: 20px;
}


/* Restaurant */
#section-restaurant .main-parallax .slide{
	padding: 12% 10%;
	background-image: url("../img/bg7.jpg");
	height: 40vh;
    min-height: 40vh;
}

#section-restaurant .main-content{
    text-align: center;
    background: #2d2d2d;
    color: #FFFFFF;
    padding: 20px;
}

#section-restaurant .main-content div{
	margin-bottom: 30px;
}

/* Nosotros */
#section-nosotros{
	text-align: center;
}
#section-nosotros .main-parallax .slide{
	padding: 12% 10%;
	background-image: url("../img/bg8.jpg");
}

#section-nosotros .main-parallax .slide figure{
	display: block;
	text-align: center;
}

#section-nosotros .main-parallax .slide img{
	width: 70%;
	display: inline-block;
}
#section-nosotros .main-parallax .slide .content{
	width: 70%;
	margin: 0 auto;	
	font-size: 18px;
	line-height: 30px;
}

/* Contactanos */
#section-contactanos{
	text-align: center;
}
#section-contactanos .main-parallax .slide{
	padding: 12% 10%;
	background-image: url("../img/bg9.jpg");
	height: 80vh;
    min-height: 80vh;
}

#section-contactanos .main-content{
	background: #2d2d2d;
	color: #FFFFFF;
	padding: 20px;
}
#section-contactanos .main-content>div{
	width: 70%;
    margin: 0 auto;
    margin: 10px auto 40px auto;
}
#section-contactanos .main-content .contact-form, #section-contactanos .main-content .map{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
#section-contactanos input, #section-contactanos textarea{
	width: 100%;
	font-size: 16px;
	padding: 7px;
	margin-bottom: 5px;
	width: calc(100% - 14px);
}

#section-contactanos .contact-form button{	
	background: rgba(159, 188, 215, 1);
	float: right;
}

#section-contactanos .contact-form button:hover{
	background: #6c6f71;
}

#section-contactanos .social span{
	font-size: 30px;
}

#section-contactanos .icon-facebook2{
	color: #0f58a0;
	position: relative;
	z-index: 2;
	
}
#section-contactanos .icon-facebook2:after{
	content: ".";
	display: block;
    background: #FFFFFF;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 2px;
    width: 26px;
    z-index: -1;
    height: 98%;
}

#section-contactanos .info p{
	margin: 15px 0;
}